@import "tailwindcss";

@theme {
    /* Define the font family variable */
    /* --font-brand: "Your Custom Font", sans-serif; */

    /* Optional: Set it as the default font-sans utility */
    /* --font-sans: var(--font-brand); */

    --color-primary: #b9855e;
}

/* @layer base {
    body {
        font-family: var(--font-brand);
    }
} */

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.animate-scroll {
    animation: scroll 20s linear infinite;
}

.animate-scroll:hover {
    animation-play-state: paused;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

@keyframes scale-in {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.animate-scale-in {
    animation: scale-in 0.5s ease-out;
}

@keyframes ping {
    75%,
    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}

.animate-ping {
    animation: ping 1.5s cubic-bezier(0, 0, 0.2, 1) infinite;
}